body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #e6f2ff;
    color: #2c2c2c;
}

header {
    background-color: #79a7d3;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 4px solid #2c2c2c;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
    padding: 0.5rem 0;
}

nav a {
    color: #79a7d3;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border: 2px solid #79a7d3;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c2c2c;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #79a7d3;
    display: inline-block;
}

h3 {
    color: #2c2c2c;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #79a7d3;
    display: inline-block;
}

.image-container {
    text-align: center;
    margin-bottom: 1.5rem;
    
}

h3 {
display: block;
}


.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #79a7d3;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c2c2c;
    color: #79a7d3;
    margin-top: 2rem;
    font-size: 0.9rem;
}

footer a {
    color: #79a7d3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.icon {
    margin-right: 0.5rem;
}

nav a:before {
    content: '\2605'; /* Unicode star icon */
    margin-right: 0.5rem;
    color: #79a7d3;
}

h2:before {
    content: '\2726'; /* Unicode diamond icon */
    margin-right: 0.5rem;
    color: #79a7d3;
}

.teaching-button {
display: block;
margin: 1rem auto;
padding: 0.75rem;
font-size: 1.2rem;
color: #fff;
background-color: #79a7d3;
text-align: center;
text-decoration: none;
border-radius: 4px;
max-width: 300px;
}

.teaching-button:hover {
    background-color: #5a8cb5;
}
hr {
    border: none;
    height: 4px;
    background-color: #c0d4e6;
    margin: 2rem 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.tag {
    display: inline-block;
    background-color: #79a7d3;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
}

.tag.real-analysis { background-color: #f9844a; }
.tag.number-theory { background-color: #43aa8b; }
.tag.graph-theory { background-color: #577590; }
.tag.algebra { background-color: #f9c74f; }
.tag.combinatorics { background-color: #90be6d; }
.tag.graph-burning { background-color: #cf3434; }